@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
    margin: 0;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    h2 {
        font-size: 15px;
    }
    
    .image {
        width: 80%;
        height: auto;
    }

    .map {
        overflow: hidden;
    }

    .logo {
        padding-left: 50%;
        width: 300px;
        height: auto;;
        top: 0%;
        overflow: hidden;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        background-color: #EBEBEB;
    }
    
    nav {
        top: 0;
        width: 50%;
        height: 0;
        background-color: #EBEBEB;
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 8px;
        padding-bottom: 5%;
    }
    
    
      .menu {
        width: auto;
        padding-left: 50%;
        top: 0%;
      }
    
      nav li {
        display:  inline-block;
        padding-right: 10%;
        padding-bottom: 3%;
        
      }
    
      nav a {
        color: #8da242;
        font-weight: bold;
      }
    
      nav a:hover {
        color: black;
        transition: 0.3s;
      }
      
      .banner1 {
        background-image: url(banner.png);
        background-size: cover;
        background-position: center center;
        height: 20vh;
        width: 100% ;
        opacity: 1;
      }
    
      .banner {
        position: relative;
        top: 80%;
        text-align:  center;
        color: black;
        font-weight: 700;
        text-transform:  uppercase;
        font-size:  16px;
      }
    
      .main_content hr{
        margin: 0 25%;
        padding: 2px;
        position: relative;
      }
    
      #main-heading {
        margin: 0 25%;
        font-size: 15px;
        font-weight: 700;
      }
    
      #task {
        padding: 5px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
      }
      
      

      #requirements {
        padding: 5px;
        margin: 0 25%;
      }
    
      #submission {
        padding: 5px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
      }
    
      #grading {
        padding: 5px;
        margin: 0 25%;
      }
    
      .aside {
        padding: 5px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
      }
    
      .footer {
        padding: 5px;
        margin: 0 25%;
      }
}


@media screen and (min-width: 768px) and (max-width: 1400px){
    
    .image{
        width: 80%;
        height: auto;
    }

    .logo {
        padding-left: 30px;
    }

    body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        background-color: #EBEBEB;
    }

    nav {
        top: 0;
        width: 100%;
        height: 70px;
        background-color: #EBEBEB;
        position: fixed;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12;
    }


    .menu {
        width:  auto;
        float:  right;
        margin-top:  8px;
    }

    nav li {
        display:  flex;
        padding:  10px 20px;
    }

    nav a {
        color: #8da242;
        font-weight: bold;
    }

    nav a:hover {
        color: black;
        transition: 0.3s;
    }
    
    .banner1 {
        background-image: url(banner.png);
        background-size: cover;
        background-position: center center;
        height: 25vh;
        width: 100% ;
        opacity: 1;
    }

    .banner {
        position: relative;
        top: 80%;
        text-align:  center;
        color: black;
        font-weight: 700;
        text-transform:  uppercase;
        font-size:  28px
    }

    .main_content hr{
        margin: 0 25%;
        padding: 15px;
    }

    #main-heading {
        margin: 0 25%;
        font-size: 20px;
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
    }

    #task {
        padding: 15px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
    }

    #requirements {
        padding: 15px;
        margin: 0 25%;
    }

    #submission {
        padding: 15px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
    }

    #grading {
        padding: 15px;
        margin: 0 25%;
    }

    .aside {
        padding: 15px;
        margin: 0 25%;
        background-color: #8da242;
        color: white;
    }

    .footer {
        display: inline-flexbox;
        padding: 15px;
        margin: 0 25%;
    }

}

@media screen and (min-width:1400px) {
    
.logo {
    padding-left: 30px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #EBEBEB;
}

nav {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #EBEBEB;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12;
}


.menu {
    width:  auto;
    float:  right;
    margin-top:  8px;
}

nav li {
    display:  inline-block;
    padding:  10px 20px;
}

nav a {
    color: #8da242;
    font-weight: bold;
}

nav a:hover {
    color: black;
    transition: 0.3s;
}

.banner1 {
    background-image: url(banner.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: 100% ;
    opacity: 1;
}

.banner {
    position: relative;
    top: 80%;
    text-align:  center;
    color: black;
    font-weight: 700;
    text-transform:  uppercase;
    font-size:  28px
}

.main_content hr{
    margin: 0 25%;
    padding: 15px;
}

#main-heading {
    margin: 0 25%;
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
}

#task {
    padding: 15px;
    margin: 0 25%;
    background-color: #8da242;
    color: white;
}

#requirements {
    padding: 15px;
    margin: 0 25%;
}

#submission {
    padding: 15px;
    margin: 0 25%;
    background-color: #8da242;
    color: white;
}

#grading {
    padding: 15px;
    margin: 0 25%;
}

.aside {
    padding: 15px;
    margin: 0 25%;
    background-color: #8da242;
    color: white;
}

.footer {
    display: flex;
    padding: 15px;
    margin: 0 25%;
}   
}